page-contact {

}

.gridBorder {
    background: white;
    border: 1px solid rgb(53, 52, 52);
}

.border {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}
    