page-welcome {
    #welcome{
        background:url(https://i.pinimg.com/originals/83/15/1b/83151b4292242bbe48ea0142e04053a4.jpg);
        background-size: cover;
        width: 100%;
        height: 100%;
        h1{
            font-size: 52px;
            margin-top:50px
        }
        .marginTop{
            margin-top:150px;
        }
        .logo{
            height: 10em;
            position: relative;
            display: block;
            margin-left: auto;
            margin-right: auto
        }
        .flex-container{
            display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
            display: -ms-flexbox;  /* TWEENER - IE 10 */
            display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
            display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
            
            justify-content: center;
            align-items: center;
            
            width: 100%;
            height: 100%;
          }
          
          .inner-element{
            top: 50%;
          }
    }
}
    